.slideshow-container
{
    background-image: url(images/build\ Up\ logo\ no\ backgroudn.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    border:2px black solid;

    height: 800px;
    overflow: hidden;

    position:relative;


}


.WWO-container
{
    background-color: rgba(61, 252, 46, 0.25);
    border-radius: 20px;
    padding: 2%;
    padding-bottom: 6%;
    margin: 2%;
}