html{
    scroll-behavior:smooth;
}

.logo
{
    height: 35px;
    width: 150px;
    background-size: contain;
    background-repeat:no-repeat;
    background-image: url("images/build\ Up\ logo\ no\ backgroudn.png");
}

.center {
  margin: auto;
  width: 80%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

.padding
{
    margin:10%;
}


.button {
    z-index: 100;
    border: 2px rgba(252, 255, 0, 1);

    background-color: black;
    color: white;
    text-align: center;
    position:fixed;
    width: 200px;
    height: 50px;
    bottom: 28px;
    right: 28px;
}


/* FOOOOTER*/

.footer {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-text {
  white-space: nowrap;
  padding: 10px;
  color: white;
  font-size: 30px;
  border-right: 3px solid white;
  margin-right: 20px;
}

.socials {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}
